@inherits LayoutComponentBase
@inject ProtectedSessionStorage SessionStorage;
@inject NavigationManager NavManager;

<style>
    .top-row {
        font-size: 1.5em;
    }
</style>

<div class="page">

    @if (IsAdminLoggedIn){
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <div class="main">
        @if (IsAdminLoggedIn){
            <div class="top-row px-4">
                <span class="oi oi-account-logout" aria-hidden="true"></span> <a href="#" @onclick="Logout">Logout</a>
            </div>
        }

        <div class="content px-4">
            <CascadingValue Value="EventNotify">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code{

    public bool IsAdminLoggedIn;

    EventCallback EventNotify => EventCallback.Factory.Create(this, callback: NotifyLayout);

    public async void Logout()
    {
        await SessionStorage.DeleteAsync("adminKey");
        await NotifyLayout();
        NavManager.NavigateTo("/login");
    }

    private async Task NotifyLayout()
    {
        var adminSession = await SessionStorage.GetAsync<string>("adminKey");
        if (adminSession.Success){
            IsAdminLoggedIn = true;
        }
        else{
            IsAdminLoggedIn = false;
            NavManager.NavigateTo("/login");
        }
    }
}