@inherits LayoutComponentBase
@inject ProtectedSessionStorage SessionStorage;
@inject NavigationManager NavManager;

<div class="page">

    @if (IsAdminLoggedIn){
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <div class="main">
        @if (IsAdminLoggedIn){
            <div class="top-row px-4">
                <a href="#" @onclick="Logout">Logout</a>
            </div>
        }

        <div class="content px-4">
            <CascadingValue Value="EventNotify">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code{
    public bool IsAdminLoggedIn = false;
    EventCallback EventNotify => EventCallback.Factory.Create(this, NotifyLayout);

    public void Logout()
    {
        NavManager.NavigateTo("/login");
    }

    private async Task NotifyLayout()
    {
        var adminSession = await SessionStorage.GetAsync<string>("adminKey");
        if (adminSession.Success){
            IsAdminLoggedIn = true;
        }
        else{
            IsAdminLoggedIn = false;
            NavManager.NavigateTo("/login");
        }
    }
}