{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "SeedDatabase": true,
  "ConnectionStrings": {
    "ConnectionString": "Server={server};User ID={user};Password={password};Database={database};Allow User Variables=True"
  } 
}
